body {
    background-color: #5D4C15;
    font-family: 'Raleway', sans-serif;
  }
  h1, h2 {
    font-family: 'Oswald', sans-serif;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    display: block;
  }