body {
    background-color: olive;
    font-family: "Times New Roman", Times, serif;
  }
  h1, h2 {
    font-family: 'Oswald', sans-serif;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    display: block;
  }
